<ion-header>
  <ion-toolbar>
    <ion-title>Questionnaire</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Please Choose Answer</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let question of main_questions">
        <ion-label>{{question.category}}</ion-label>
        <ion-radio slot="start" [value]="question.id" (click)="selectedQuestion(question.id)"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-list *ngIf="questions.length > 0">

    <ion-list-header>
      <ion-label>Please Fill The Questionnaire</ion-label>
    </ion-list-header>


    <div *ngFor="let question of questions;let i =index" class="ion-padding">
      <ion-label>{{question.question}}</ion-label>
      <br>

      <ion-item *ngIf="question.input_type=='dropdown'">
        <ion-radio-group (ionChange)="Answer(question.id,$event)">
          <ion-item *ngFor="let option of question.option">
            <ion-label>{{option.option_title}}</ion-label>
            <ion-radio slot="start" [value]="option.id"></ion-radio>
          </ion-item>
        </ion-radio-group>



        <!-- <ion-select name="measureSetSelect" placeholder="Select One">
          <ion-select-option *ngFor="let option of question.option" [value]="option.id">{{option.option_title}}
          </ion-select-option>
        </ion-select> -->
      </ion-item>

      <ion-item *ngIf="question.input_type=='input'">
        <ion-input [(ngModel)]="input[question.id]" placeholder={{question.question}}></ion-input>
      </ion-item>

      <ion-item *ngIf="question.input_type=='radio'">
        <ion-radio-group (ionChange)="Answer(question.id,$event)">
          <ion-item *ngFor="let option of question.option">
            <ion-label>{{option.option_title}}</ion-label>
            <ion-radio slot="start" [value]="option.id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </div>

    <ion-button type="button" expand="block" (click)="SubmitAnswers()">Submit</ion-button>

  </ion-list>

</ion-content>