<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-img src="assets/images/user.png" style="height: 50%; margin-left: auto;
  margin-right: auto;"></ion-img>

  <form (ngSubmit)="login_user()" [formGroup]="loginForm">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label>Email</ion-label> -->
            <ion-input type="email" placeholder="Email" formControlName="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </ion-input>

            <small [hidden]="loginForm.controls.email.valid || loginForm.controls.email.pristine ">
              <small *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.required">
                Email is required
              </small>
              <small *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.pattern">
                Email is invalid
              </small>
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label>Password</ion-label> -->
            <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input>

            <small>
              <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.pristine">
                *password required and min 8 characters
              </small>
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col col-12 class="text-center">
        Already registered? Click <a routerLink="/signup" style="text-decoration: none;">Here</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>