<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Add Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngFor="let item of items">
    <ion-item>
      <ion-avatar>
        <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-3/177800/129-512.png">
      </ion-avatar>
      <ion-label style="margin-left: 25px;">{{item.name}}</ion-label>
      <ion-button (click)="Send_Request(item.id)" *ngIf="item.sent==0" id="btn_{{item.id}}">+Add</ion-button>
      <ion-button *ngIf="item.sent==1" disabled>Sent</ion-button>
    </ion-item>
  </ion-card>

  <div *ngIf="mydone">
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>