<ion-content class="{{class}}">

  <ion-button *ngIf="!isBroadcasting" [disabled]="!broadcaster || isPending" (click)="start()">
    Start
  </ion-button>

  <ion-button *ngIf="isBroadcasting" [disabled]="isPending" (click)="stop()" color="danger">
    Stop
  </ion-button>

  <ion-button icon-only *ngIf="broadcaster" [disabled]="isPending" (click)="switchCamera()">
    <ion-icon name="camera-reverse"></ion-icon>
  </ion-button>

  <ion-button *ngIf="!isBroadcasting" [disabled]="!broadcaster || isPending" routerLink="/recent-broadcasts">
    Broadcasts
  </ion-button>



</ion-content>