/**
 * Make all layer background transparent that normally are opaque in Ionic
 * so that cordova-plugin-bambuser is able to draw a camera viewfinder
 * behind the web view.
 */
 .show-viewfinder {
  
        background: transparent !important;
    
  
    /**
     * For debugging: a semi-transparent <body>
     * Uncomment to illustrate whether or not the ionic app is transparent,
     * regardless of whether or not a viewfinder is displayed
     */
    // background-color: rgba(255, 0, 0, 0.5);
  }
  .myclass{ --background: transparent !important;}
  // ion-content{--background: transparent !important;}

  .no_myclass{ --background:initial !important;}
// ion-content { }
  
