<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Coptap</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/broadcaster" routerDirection="forward">
            <ion-icon name="tv-outline" slot="start"></ion-icon>
            Broadcaster
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/recent-broadcasts" routerDirection="forward">
            <ion-icon name="list-outline" slot="start"></ion-icon>
            Broadcasts List
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/community" routerDirection="forward">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            Community
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/notifications" routerDirection="forward">
            <ion-icon name="notifications-outline" slot="start"></ion-icon>
            Notifications
            <ion-badge color="success" slot="end" *ngIf="unread > 0">{{unread}}</ion-badge>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="Logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            Logout
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>