<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title style="text-align: center;">Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="register_user()" [formGroup]="registerForm">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label>Name</ion-label> -->
            <ion-input type="text" formControlName="name" placeholder="Name" required></ion-input>

            <small>
              <small [hidden]="registerForm.controls.name.valid || registerForm.controls.name.pristine ">
                *name required and min 5 characters
              </small>
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label>Email</ion-label> -->
            <ion-input type="email" placeholder="Email" formControlName="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </ion-input>

            <small [hidden]="registerForm.controls.email.valid || registerForm.controls.email.pristine">
              <small *ngIf="registerForm.controls.email.errors && registerForm.controls.email.errors.required">
                Email is required
              </small>
              <small *ngIf="registerForm.controls.email.errors && registerForm.controls.email.errors.pattern">
                Email is invalid
              </small>
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label>Password</ion-label> -->
            <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input>

            <small>
              <small [hidden]="registerForm.controls.password.valid || registerForm.controls.password.pristine ">
                *password required and min 8 characters
              </small>
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label>Confirm Password</ion-label> -->
            <ion-input type="password" placeholder="Confirm Password" formControlName="confirmpassword" required>
            </ion-input>

            <small>
              <small
                [hidden]="registerForm.controls.confirmpassword.valid || registerForm.controls.confirmpassword.pristine">
                *passwords do not match
              </small>
            </small>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-button type="submit" expand="block"
            [disabled]="registerForm.controls.password.value !== registerForm.controls.confirmpassword.value || !registerForm.valid">
            Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col col-12 class="text-center">
        Already registered? Click <a routerLink="/login" clear style="text-decoration: none;">Here</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>