<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Friends and Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-padding" style="padding-bottom: 0px;">
    <a routerLink='/add-friends' style="text-decoration: none;">+Add More People</a>
  </div>

  <ion-card *ngFor="let data of friends_list">
    <ion-item>
      <ion-avatar>
        <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-3/177800/129-512.png">
      </ion-avatar>
      <ion-label style="margin-left: 25px;">{{data.name}}</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>

    <!-- <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content> -->
  </ion-card>

  <!-- <div class="ion-padding" *ngIf="friends_list">
    <p class="font_open_sans">No friends... Click to add more friends</p>
  </div> -->

</ion-content>