<ion-header>
  <ion-toolbar>
    <ion-title class="center">Thank You</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>

    <ion-img src="assets/icon/checked.png" wid></ion-img>

  </div>
  <h1 class="center">Thank You!</h1>
  <div class="hr"></div>

  <h5 class="center" style="font-family: 'open sans';">You answers have been saved successfully</h5>

  <ion-button type="button" expand="block" (click)="OpenBroadcasts()">Go To Broadcasts List</ion-button>



</ion-content>