<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="showCloseButton" (click)="closePlayer()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Playing Video</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="player-container">
    <div #player></div>
    <ion-icon class="logo" name="ionitron"></ion-icon>
  </div>

  <!-- <div class="player-log">
    <div *ngFor="let line of playerLog">{{ line }}</div>
  </div> -->

</ion-content>