<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <!-- list with multiple iterations -->
  <ion-list>
    <!-- for sliding item  -->
    <ion-item-sliding *ngFor="let item of items" id="div_{{item.id}}">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img
            src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-3/177800/129-512.png">
          </ion-img>
        </ion-avatar>
        <ion-label>
          {{item.from}}
          <p>{{item.message}}</p>
        </ion-label>
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </ion-item>
      <!-- slide item from right -->
      <ion-item-options side="end">

        <div *ngIf="item.type==1" class="ion-padding" id="div_{{item.id}}">
          <ion-button fill="clear" type="button" id="btn_acpt_{{item.id}}" (click)="Add_friend(item.from_id,item.id)">
            <ion-icon name="person-add-outline"></ion-icon>
            Accept
          </ion-button>
          <ion-button fill="clear" type="button" (click)="Delete_request(item.id)">
            <ion-icon name="person-add-outline"></ion-icon>
            Cancel
          </ion-button>
          <ion-checkbox *ngIf="item.is_readed==0" (click)="Mark_Read(item.id)" id="btn_{{item.id}}"></ion-checkbox>
        </div>

        <div *ngIf="item.type==-1" class="ion-padding">
          <ion-checkbox *ngIf="item.is_readed==0" (click)="Mark_Read(item.id)" id="btn_{{item.id}}"></ion-checkbox>
        </div>

        <div *ngIf="item.type==0" class="ion-padding">
          <ion-button fill="clear" type="button" (click)="playBroadcast(item.user_broadcast_id)">
            <ion-icon name="eye-outline"></ion-icon>
            View
          </ion-button>
          <ion-checkbox *ngIf="item.is_readed==0" (click)="Mark_Read(item.id)" id="btn_{{item.id}}"></ion-checkbox>
        </div>

      </ion-item-options>
    </ion-item-sliding>

    <div *ngIf="mydone">
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </ion-list>

  <!-- <ion-card *ngFor="let item of items">
    <ion-item>
      <ion-avatar>
        <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-3/177800/129-512.png">
      </ion-avatar>
      <ion-label style="margin-left: 5px;">{{item.from}} {{item.message}}</ion-label>
      <ion-checkbox (click)="Mark_Read(item.id)" id="btn_{{item.id}}" *ngIf="item.is_readed==0"></ion-checkbox>
    </ion-item>
  </ion-card> -->
</ion-content>