<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Recent Broadcasts
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content clas="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="onPullToRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div spinner-wrapper>
    <ion-spinner *ngIf="isFetching && mayShowSpinner"></ion-spinner>
  </div>

  <p *ngIf="!isFetching && !errorMessage && (!broadcasts || broadcasts.length === 0)">
    No broadcasts available right now. Pull to refresh list.
  </p>

  <div padding error *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div *ngFor="let broadcast of broadcasts">
    <div *ngIf="exist(broadcast.id)">
      <ion-card (click)="playBroadcast(broadcast)">
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png" />
          </ion-avatar>
          <ion-label>
            <h3>{{GetName(broadcast.id)}}</h3>
            <p>{{timeConverter(broadcast.created)}}</p>
          </ion-label>
        </ion-item>

        <div broadcast-preview *ngIf="broadcast.preview">
          <ion-img src="{{ broadcast.preview }}"></ion-img>
        </div>

        <div no-broadcast-preview *ngIf="!broadcast.preview">
          <ion-img src="https://ebookbyte.com/assets/images/no_preview.jpg"></ion-img>
        </div>

        <ion-card-content>
          <ion-card-title>{{ broadcast.title || 'Untitled broadcast' }}</ion-card-title>
          <p *ngIf="broadcast.name">by {{ broadcast.name }}</p>
          <ion-row>
            <ion-col broadcast-timestamp center text-center>
              <!-- For live broadcasts, just show a live badge -->
              <ion-note *ngIf="broadcast.created && broadcast.type === 'live'">LIVE</ion-note>

              <!-- For archived broadcasts, use moment.js to generate a relative timestamp -->
              <ion-note *ngIf="broadcast.created && broadcast.type === 'archived'">
                {{ moment(broadcast.created * 1000).fromNow() }}</ion-note>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <!-- <ion-row>
            <ion-col size="4" no-padding>
                <ion-button size="small" color="primary" fill="clear">
                    <ion-icon name='thumbs-up'></ion-icon>
                    12 Likes
                </ion-button>
            </ion-col>
            <ion-col size="5" no-padding>
                <ion-button color="primary" size="small" fill="clear">
                    <ion-icon name='text'></ion-icon>
                    4 Comments
                </ion-button>
            </ion-col>
            <ion-col size="3" no-padding>
                <ion-button size="small" fill="clear">
                    11h ago
                </ion-button>
            </ion-col>
        </ion-row> -->
      </ion-card>
    </div>
  </div>


</ion-content>